* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #5a71bb;
    text-align: center;
    color: white;
    padding: 20px 0;
}

.lista-cadastro {
    display: flex;
    flex-direction: column; /* Empilhar os itens em coluna */
    margin: 20px 0;
    padding: 0 10px; /* Adicionar um pequeno padding horizontal */
}

.lista-cadastro input[type=text] {
    height: 40px;
    margin-bottom: 10px; /* Adicionar espaço entre os inputs */
    padding: 0 10px; /* Adicionar um pequeno padding horizontal */
}

.botao-cadastrar {
    padding: 10px 15px;
    font-size: 20px;
    border: solid rgb(153, 153, white);
    background-color: #5a71bb;
    cursor: pointer;
}

.lista-produto-single {
    padding: 10px;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
}

.lista-produto-single h3 {
    padding: 0;
    margin-bottom: 10px; /* Adicionar espaço entre os itens */
}

h3.price-produto {
    text-align: right;
    font-size: 14px;
}

h3.price-produto > span {
    background-color: #5a71bb;
    padding: 6px 8px;
    border-radius: 20px;
    color: white;
}

.soma-produto {
    margin: 20px;
    text-align: center;
}

.remove-item {
    padding: 5px;
    background-color: rgb(242, 192, 192);
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 10px;
}

.b-limpar {
    text-align: center;
}

.limpar {
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #5a71bb;
}

/* Media Query para dispositivos com largura máxima de 600px (modo mobile) */
@media only screen and (max-width: 600px) {
    .lista-cadastro input[type=text] {
        margin-bottom: 10px; /* Ajustar o espaço entre os inputs */
    }

    .botao-cadastrar {
        font-size: 18px; /* Reduzir o tamanho da fonte do botão */
    }

    .lista-produto-single h3 {
        font-size: 16px; /* Reduzir o tamanho da fonte dos itens */
    }

    h3.price-produto {
        margin-bottom: 10px;
        font-size: 12px; /* Reduzir o tamanho da fonte do preço */
    }

    h3.price-produto > span {
        margin-bottom: 10px;
        padding: 4px 6px; /* Ajustar o padding do preço */
        font-size: 12px; /* Reduzir o tamanho da fonte do preço */
    }
}
